html, body {
  margin: 0;
}

#map {
  width: 100vw;
  height: 100vh;
}
h1{
  position: absolute;
  top: 0;
  left: 40px;
  background: rgba(222, 222, 222, 0.8);
  padding: 5px 30px;
  border-radius: 5px;
}
.mbview_popup {
  color: #333;
  display: table;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.mbview_feature:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.mbview_layer:before {
  content: '#';
}
.mbview_layer {
  display: block;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.mbview_property {
  display: table-row;
}
.mbview_property-value {
  display: table-cell;
}
.mbview_property-name {
  display: table-cell;
  padding-right: 10px;
}

.mapboxgl-ctrl a.mapboxgl-ctrl-logo{
	display: none;
}

#legend_box{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 170px;
  height: 120px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.title{
  text-align: center;
  /* padding: 5px 0; */
  font-weight: bold;
}
.subtitle{
  font-size: 14px;
  text-align: center;
  color: #808080;
}
.fore{
  width: 40px;
  height: 15px;
  /* border: 1px solid #ffcbcb; */
}
.l-简{
  background-color: #377eb8;
}
.l-混{
  background-color: #4daf4a;
}
.l-砖{
  background-color: #ff7f00;
}
.l-砼{
  background-color: #ffff33;
}
.l-其他{
  background-color: #aaaaaa;
}
.l-yard{
  width: 36px;
  height: 12px;
  border: 2px solid #ff0000;
  background-color: rgba(255,0,0,0.2);
}
table{
  width: 100%;
  font-size: 14px;
}
table tr{
  height: 25px;
}

#layer_box{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 100px;
  height: 60px;
  padding: 10px;
  background-color: #ffffff;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

label{
  position: relative;
  margin-left: 5px;
  bottom: 2px;
}